h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.curriculoContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#56738b, rgb(19, 60, 77));
  overflow: hidden;
}

.curriculoContainer h1 {
  color: rgb(252, 252, 252);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    Courier, monospace;
  font-size: 5rem;
}

.curriculoContainer header {
  width: 100%;
  text-align: left;
  font-size: 0.4rem;
  padding-left: 20px;
  height: 10vh;
}

.experiencesSection {
  display: flex;
  justify-content: flex-start;
  width: 80vw;
  height: 450px;
  flex-wrap: wrap;
  margin-top: 120px;
}

.experiencesDiv {
  display: flex;
}

.workExperiencesSection,
.educationExperiences,
.experiencesDiv {
  width: 100%;
  height: 100%;
}

.infoContainer {
  width: 600px;
  height: 100%;
  display: flex;
  text-align: left;
}

.infoContainer h2 {
  text-align: center;
}

.profile {
  width: 200px;
}

p {
  font-size: 0.8rem;
  line-height: 26px;
  margin: 0;
}

.timelineContainer {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.timelines h2,
.aboutSection h2,
.skills h2 {
  text-align: center;
  color: rgb(221, 250, 255);
  font-weight: 600;
  margin: -20px 0 20px 0;
  font-size: 1.8rem;
  border: none;
  border-radius: 20px;
}

.dFlex2 {
  display: flex;
  align-items: flex-start;
}

.allTimelines {
  position: relative;
}

.allTimelines::before {
  content: "";
  position: absolute;
  left: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: rgb(227, 223, 243);
  top: 20px;
}
.singleTimeline {
  margin-bottom: 25px;
}
.timelineText {
  width: 100%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.timelineText h6 {
  color: rgb(206, 206, 206);
  font-weight: 900;
  display: inline-block;
  font-size: 1.1rem;
}
.timelineText span {
  color: rgb(255, 255, 255);
  display: block;
  width: 100%;
  margin-top: 15px;
  text-align: left;
  font-size: 1.2rem;
}
.tSquare {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -5px;
  border-radius: 50%;
  background: rgb(87, 217, 240);
  margin-top: 20px;
}

.buttonsCurriculoDiv {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  min-width: 300px;
  height: 100%;
  flex: 1;
  justify-content: space-between;
  position: relative;
  left: 20px;
  margin: 0px 30px;
}

.buttonsCurriculoDiv button {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 3px solid white;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.buttonsCurriculoDiv button:hover {
  background-color: white;
  color: #1e3d58;
  font-weight: 800;
}

.aboutSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.aboutSection p {
  font-size: 1.2rem;
}

.skills img {
  width: 20px;
  height: 20px;
}

.skillsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: left;
  width: 400px;
  gap: 60px;
}

.skillsDiv p {
  display: flex;
  align-items: center;
  text-align: left;
  width: 30px;
  font-size: 1rem;
}

.buttonsCurriculoDiv .infoSelected {
  background-color: white;
  color: #1e3d58;
  font-weight: 800;
}

.idiomas {
  margin-top: 50px;
}

.idiomas p {
  font-size: 1.2rem;
  margin-top: 20px;
}

.idiomas img {
  margin-right: 10px;
}

/* Screen under 1500 px */

@media only screen and (max-width: 1500px) {
  .curriculoContainer {
    overflow: scroll;
  }

  .experiencesSection {
    margin: 50px 0px 0px 150px;
    align-items: flex-start;
  }

  .workExperiencesSection {
    margin-top: 0px;
  }

  .singleTimeline {
    margin-bottom: 15px;
  }

  .buttonsCurriculoDiv {
    width: 300px;
    left: -5px;
  }

  .infoContainer {
    max-width: 600px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1370px) {
  .experiencesSection {
    height: 370px;
  }

  .experiencesSection,
  .educationExperiences {
    align-items: center;
    justify-content: center;
  }

  .experiencesDiv {
    flex-direction: column;
    height: 100%;
    width: 50vw;
    border-radius: 20px;
    padding: 0 15px;
  }

  .educationExperiences,
  .workExperiencesSection {
    width: 100%;
  }

  .tSquare {
    margin-top: 35px;
  }

  .allTimelines {
    padding-left: 30px;
  }

  .allTimelines::before {
    left: 30px;
    top: 40px;
    height: calc(100% - 35px);
  }
  .singleTimeline {
    margin-bottom: 5px;
  }
  .timelineContainer {
    padding: 0;
  }
  .timelines h2 {
    margin-bottom: 0px;
    width: 100%;
  }
  .timelineText span {
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    margin-top: 25px;
    text-align: left;
    font-size: 1.1rem;
  }
  .timelineText span h6 {
    font-size: 1.1rem;
  }

  .buttonsCurriculoDiv {
    width: 300px;
    max-width: 400px;
    left: -5px;
    height: 100%;
  }

  .buttonsCurriculoDiv button {
    font-size: 1.2rem;
    height: 60px;
  }

  .infoContainer {
    margin: 80px 50px 0px 0px;
  }

  .infoContainer p {
    font-size: 1rem;
  }

  .timelineContainer {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 1200px) and (max-height: 700px) {
  .experiencesSection {
    margin-top: 80px;
  }

  .experiencesDiv {
    width: 50vw;
    margin-top: 15px;
  }

  .timelineText span {
    font-size: 0.9rem;
  }
  .timelineText span h6 {
    font-size: 0.9rem;
  }

  .buttonsCurriculoDiv {
    width: 280px;
    height: 350px;
  }

  .infoContainer {
    margin-top: 50px;
  }

  .frontButton {
    bottom: -180px;
  }

  .buttonsContainer {
    bottom: -205px;
  }

  .backButton {
    top: -25px;
  }
}

@media only screen and (max-width: 900px) {
  .experiencesSection {
    width: 100vw;
    margin: 10px 0px;
    height: 350px;
  }

  .educationExperiences,
  .workExperiencesSection {
    margin-top: 20px;
    width: 700px;
  }

  .experiencesDiv {
    width: 700px;
  }

  .allTimelines {
    padding: 0px;
  }

  .allTimelines:before {
    left: 0;
  }

  .timelines {
    width: 600px;
  }

  .timelineContainer {
    width: 600px;
    padding: 0px;
  }

  .buttonsCurriculoDiv {
    left: 20px;
  }

  .infoContainer {
    margin: 10px 0px;
    max-width: 700px;
  }

  .textContainer {
    bottom: -200px;
  }

  .skills .h2Skills,
  .timelineContainer h2 {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .curriculoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .curriculoContainer header h1 {
    font-size: 3rem;
  }

  .curriculoContainer h4 {
    font-size: 0.7rem;
  }

  .experiencesSection {
    display: flex;
    width: 100vw;
    height: 90vh;
    margin: 0px;
  }

  .workExperiencesSection,
  .educationExperiences {
    max-width: 300px;
  }

  .experiencesDiv {
    width: 280px;
    height: 500px;
    padding: 0px;
    margin: 20px 0px;
  }

  .tSquare {
    left: 3px;
  }

  .allTimelines {
    padding: 0px;
  }

  .allTimelines:before {
    left: 8px;
  }

  .timelineContainer {
    padding: 0px;
    width: 100%;
  }

  .timelineContainer h2 {
    margin-top: 0px;
  }

  .timelines h2 {
    width: 280px;
  }

  .timelineText span {
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    margin-top: 25px;
    text-align: left;
    font-size: 0.9rem;
    padding-left: 10px;
  }
  .timelineText span h6 {
    font-size: 0.8rem;
  }

  .buttonsContainer {
    bottom: -80px;
  }

  .backButton {
    bottom: -143px;
  }

  .buttonsCurriculoDiv {
    width: 230px;
    height: 350px;
    margin-bottom: 70px;
    left: 0;
  }

  .infoContainer {
    width: 280px;
    margin: 0px;
  }

  .skillsDiv {
    width: 100%;
    gap: 65px;
  }
}
