.flipCardContainer {
  width: 300px;
  height: 450px;
  perspective: 800px;
  margin-left: -100px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
  overflow: hidden;
}

.front {
  background-image: url("https://i.imgur.com/FVtG3KN.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.back {
  background-color: #3a3a3a;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-image: url("https://i.imgur.com/Wb5HACh.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.frontCard,
.backCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.buttonsContainer {
  display: flex;
  width: 100%;
  position: relative;
  bottom: -30px;
}

.aboutButton {
  margin-left: 30px;
}

.skillsButton {
  margin-right: 30px;
}

.aboutButton,
.skillsButton {
  border: none;
  border-bottom: 2px solid rgb(95, 95, 95);
  width: 100%;
  background-color: white;
  padding-bottom: 15px;
  color: rgb(35, 35, 35);
}

.frontButton {
  height: 30px;
  border-radius: 50px;
  padding: 0px 10px;
  border: none;
  background-color: #5bd485;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  transition: ease-in-out 0.2s;
  margin-bottom: 20px;
}

.frontButton:hover {
  background-color: #007629;
  color: white;
}

.backButton {
  height: 30px;
  border-radius: 50px;
  padding: 0px 10px;
  border: none;
  background-color: #5bd485;
  color: white;
  font-size: 1.1rem;
  text-align: center;
  transition: ease-in-out 0.2s;
  position: relative;
  top: -215px;
}

.backButton:hover {
  background-color: #007629;
  color: white;
}

.clicked {
  color: #5bd485;
  border-bottom: 2px solid #5bd485;
}

.textContainer {
  height: 160px;
  position: relative;
  bottom: -25px;
  text-align: left;
  padding: 10px 30px;
}

.card p,
.card h4 {
  color: black;
}

.iconImg {
  width: 50px;
  padding: 2px 5px;
}

@media only screen and (max-width: 1400px) {
  .flipCardContainer {
    width: 245px;
    height: 370px;
    perspective: 800px;
    margin-top: 15px;
  }

  .aboutButton,
  .skillsButton {
    padding: 5px;
  }

  .buttonsContainer {
    bottom: -60px;
  }

  .backButton {
    top: -175px;
  }

  .textContainer {
    bottom: -50px;
    padding: 10px 35px;
  }

  .textContainer p {
    font-size: 0.7rem;
  }

  .iconImg {
    width: 40px;
    padding: 2px 5px;
  }
}

@media screen and (max-width: 600px) {
  .aboutButton,
  .skillsButton {
    padding: 5px;
  }

  .buttonsContainer {
    bottom: -65px;
  }

  .backButton {
    top: -165px;
    font-size: 0.7rem;
    padding: 5px 10px;
    height: 25px;
  }

  .textContainer {
    bottom: -60px;
    padding: 5px 30px;
  }

  .textContainer p {
    font-size: 0.6rem;
  }

  .iconImg {
    width: 35px;
    padding: 0 5px;
  }

  .frontButton {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1100px) and (max-height: 700px) {
  .flipCardContainer {
    width: 200px;
    height: 480px;
    perspective: 800px;
  }

  .aboutButton,
  .skillsButton {
    padding: 5px;
  }

  .buttonsContainer {
    bottom: -85px;
  }

  .backButton {
    top: -142px;
    font-size: 0.7rem;
    padding: 5px 10px;
    height: 25px;
  }

  .textContainer {
    bottom: -80px;
    padding: 5px 30px;
  }

  .textContainer p {
    font-size: 0.6rem;
  }

  .iconImg {
    width: 40px;
    padding: 2px 5px;
  }

  .frontButton {
    margin-bottom: 10px;
  }
}
