@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  display: flex;
  /* justify-content: center;
  align-items: center;
  min-height: 100vh; */
  /* background: #434750; */
}

.navContainer {
  background: radial-gradient(rgb(0, 207, 253), rgb(0, 0, 0));
  width: 100%;
  height: 100%;
}

.navContainer ul {
  position: relative;
  transform: skewY(-15deg);
  top: 30vh;
}

.navContainer ul li {
  position: relative;
  list-style: none;
  width: 200px;
  background: black;
  padding: 15px;
  transition: 0.5s;
  border: 0.3px solid rgb(234, 193, 193);
}

.navContainer ul li:not(:last-child) {
  border-bottom: 0px;
}

.navContainer ul .liHover:hover {
  background: white;
  border: 0.3px solid rgb(97, 97, 97);
  transform: translateX(-50px);
}

.navContainer .liClickedRedeSocial {
  animation: liClickedRedeSocial 2s;
}

@keyframes liClickedRedeSocial {
  0% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(-180px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(1800px);
    opacity: 0;
  }
}

.navContainer .liClickedCurriculo {
  animation: liClickedCurriculo 2s;
}

@keyframes liClickedCurriculo {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(180px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(-1500px);
    opacity: 0;
  }
}

.navContainer .liClickedProjects {
  animation-name: liClickedProjects;
  animation-duration: 2s;
}

@keyframes liClickedProjects {
  0% {
    transform: translateX(-50px);
  }
  25% {
    transform: translateX(-220px);
    opacity: 0.6;
  }
  100% {
    transform: rotate(-90deg) translateX(-780px);
    opacity: 0;
  }
}

.navContainer ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -41px;
  width: 40px;
  height: 100%;
  background: black;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
  border: 0.3px solid rgb(234, 232, 193);
}

.navContainer ul .liHover:hover::before {
  background: white;
  border: 0.3px solid rgb(97, 97, 97);
}

.navContainer ul li::after {
  content: "";
  position: absolute;
  top: -41px;
  left: 0px;
  width: 99.9%;
  height: 40px;
  background: black;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  border: 0.3px solid rgb(234, 232, 193);
}

.navContainer ul .liHover:hover::after {
  background: white;
  border: 0.3px solid rgb(97, 97, 97);
}

.navContainer ul li a {
  text-decoration: none;
  color: white;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.navContainer ul .liHover:hover a {
  color: #fff;
  color: black;
}

.navContainer ul li:last-child::after {
  box-shadow: -100px 120px 20px rgba(0, 0, 0, 0.25);
}

#home {
  margin-top: 200px;
}

.navContainer .languageSelect {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.3rem;
}

.navContainer .languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.navContainer .languages .portuguese, .navContainer .languages .english {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.languages img {
  width: 30px;
}

.activePortuguese span{
  color: rgb(110, 255, 115);
  }

.activeEnglish span{
color: rgb(255, 112, 110);
}

.languages .disabled {
  filter: grayscale(1);
}

/* Screen under 600px */

@media only screen and (max-width: 600px) {
  .navContainer ul {
    left: 30px;
  }

  .navContainer ul li {
    width: 140px;
    font-size: 0.7rem;
  }


  .navContainer .languageSelect {
    right: 10px;
    top: 10px;
    font-size: .9rem;
  }
  
  .navContainer .languages {
    width: 100px;
  }
  
  .navContainer .languages .portuguese, .navContainer .languages .english {
    gap: 5px;
  }
  
  .languages img {
    width: 20px;
  }

  .navContainer .liClickedRedeSocial {
    animation: liClickedRedeSocial 2s;
  }

  @keyframes liClickedRedeSocial {
    0% {
      transform: translateX(-20px);
    }
    50% {
      transform: translateX(-90px);
      opacity: 0.7;
    }
    100% {
      transform: translateX(1800px);
      opacity: 0;
    }
  }

  .navContainer .liClickedProjects {
    animation-name: liClickedProjects;
    animation-duration: 2s;
  }

  @keyframes liClickedProjects {
    0% {
      transform: translateX(-50px);
    }
    25% {
      transform: translateX(-140px);
      opacity: 0.6;
    }
    100% {
      transform: rotate(-90deg) translateX(-780px);
      opacity: 0;
    }
  }
}
